.game_container {
  height: 90vh;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card1 {
  border: 1px solid yellow;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scenario {
  height: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.options {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.options p {
  width: 95%;
  height: 50%;
  padding: 2%;
  display: grid;
  place-items: center;
  padding: 1%;
  cursor: pointer;
  margin: 0.5rem auto;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  transition: background-color 0.3s ease;
  text-align: center;
}

.options p:hover {
  background-color: #e0e0e0;
  color: black;
}
